.head {
    font-size: 40xpx;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: sticky;
    top: 0;
    background-color:#0066cc;
    color: white;
    padding: 30px;
    z-index: 1000;
    border: 5px solid darkblue;

}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: darkblue;
    border: 5px solid darkblue;
    position: sticky;
    top: 0;
    
    }
    
    li { 
        float: left;
    }
    
    li a {
        display: block;
        padding: 10px;
        background-color: #0066cc;
        color: white;
    }
    
    .active {
        display: block;
        padding: 10px;
        background-color:aliceblue;
        color: darkblue;
    
    }
    
    li a:hover {background-color:#0066cc;
                color: darkblue;
    }


    .body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    
    .containert {
        max-width: 1200px;
        margin: 0px auto;
        padding: 20px;
        
    }
    
    .header {
        text-align: center;
        background-color: white;
        padding: 10px;
        color: white;
    }
    
    .sidebar {
        background-color: lightgray;
        padding: 15px;
        width: 200px;
        float: left;
    }
    
    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }
    
    .sidebar ul li {
        margin: 10px 0;
    }
    
    .sidebar ul li a {
        text-decoration: none;
        color: white;
        background-color: #607594;
        padding: 10px;
        display: block;
        border-radius: 5px;
    }
    
    .main {
        margin-left: 220px;
        padding: 20px;
        background-color: #f0f0f5;
        border-radius: 5px;
    }
    
    .team-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    
    .team-member {text-align: center;
        flex-basis: calc(50px - 20px);
        max-width: 250px;
    }
    

    
    .names {
        text-align: center;
        margin-bottom: 20px;
    }

.row {
    padding: 10px;
}
